<!-- Load javascript libraries -->
<script src="Scripts/chart.min.js"> </script>
<script src="Scripts/jquery-3.6.0.min.js"></script>
<script src="Scripts/chartjs-adapter-date-fns.bundle.min.js"> </script>
<!-- we're using local copies of these libraries but the links are commented here in case we need to update them -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script> -->

<!-- here is the actual script we wrote -->
<script src="Scripts/script.js"> </script>


<!-- Begin html -->

<h1 id="Home">Solar Panel Dashboard</h1>
<button onClick="window.location.reload();">Refresh Data</button>
<h2>Quick Links: </h2>
<ul>
	<li> <a href="http://10.0.1.201:8000/index.html#Temperature"> Temperature Chart </a> </li>
	<li> <a href="http://10.0.1.201:8000/index.html#Humidity"> Humidity Chart </a> </li>
	<li> <a href="http://10.0.1.201:8000/index.html#Pressure"> Pressure Chart </a> </li>
</ul>

<h1 id="Temperature"> Temperature </h1>
<h2 id="Current Temperature"> Awaiting data... </h2>
<a href="http://10.0.1.201:8000/index.html#Home"> Home </a>
<canvas id="Ambient Temperature" style="width: 100%;"></canvas>

<h1 id="Humidity"> Humidity </h1>
<h2 id="Current Humidity"> Awaiting data... </h2>
<a href="http://10.0.1.201:8000/index.html#Home"> Home </a>
<canvas id="Ambient Humidity" style="width: 100%;"></canvas>

<h1 id="Pressure"> Pressure </h1>
<h2 id="Current Pressure"> Awaiting data... </h2>
<a href="http://10.0.1.201:8000/index.html#Home"> Home </a>
<canvas id="Ambient Pressure" style="width: 100%;"></canvas>
